.container {
  display: flex;
  flex-direction: column;
  max-width: 1240px;
  height: 439px;
  flex-shrink: 0;
  border-radius: 30px;
  background: #171719;
  min-width: 500px;
}

.header {
  padding: 20px 20px 20px 40px;
}

.table {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  border-collapse: collapse;
  height: 290px;
  overflow-y: auto;
  padding-left: 40px;
}

.row {
  display: flex;
  align-items: center;
}

.tableHeader {
  color: rgba(250, 250, 250, 0.40);
  background: rgba(0, 0, 0, 0.20);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  height: 59px;
  flex-shrink: 0;
  padding-left: 40px;
  padding-right: 10px;
}

.tableHeader > span {
  text-transform: capitalize;
}

.tableHeader > span:last-child, li > span:last-child {
  flex: 2;
}

.cell {
  flex: 1;
  padding: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  /*max-width: 100px;*/
}


.row:last-child .cell {
  border-bottom: 0;
}

.tableHeader .cell {
  border-right: 0;
}

.actionButtons {
  display: flex;
  flex-direction: row;
  gap: 8px;
  position: relative;
}

.actionButtons button {
  max-width: 118px;
  cursor: pointer;
}

/*.btnEdit button:hover {
  border: none;
}*/

.btnEdit svg {
  position: absolute;
  --currentColor: #0C0D0D;
  left: 30px;
  width: 16px;
  height: 16px;
  pointer-events: none;
}

.btnDelete {
  justify-content: unset;
  position: relative;
  border: none;
  background: #0C0D0D;
}

.btnDelete:hover {
  border: 1px solid #0EF387 ;
  transition: background-color 1.0s ease;
  box-sizing: border-box;
}

.btnDelete svg {
  position: absolute;
  --currentColor: #FAFAFA;
  left: 20px;
  width: 16px;
  height: 16px;
  pointer-events: none;
}


/* Styles for screens between 376px and 768px wide (e.g., tablets) */
@media screen and (max-width: 768px) {
  .buttonText {
    display: none;
  }

  .actionButtons button {
    height: 44px;
    width: 44px;
    padding: 14px;
  }

  .actionButtons button svg {
    left: unset;
  }

  .btnDelete {
    border-radius: 40px;
    background: #0C0D0D;
    border: none;
  }

  .btnDelete svg {
    --currentColor: #FAFAFA;

  }


}
