.container {
  width: 1240px;
  height: 439px;
  flex-shrink: 0;
  border-radius: 30px;
  background: #171719;
}

.header {
  padding: 20px 20px 20px 40px;
}

.table {
  list-style-type: none;
  border-collapse: collapse;
  height: 290px;
  overflow-y: auto;
  padding-left: 40px;
}

.row {
  display: flex;
  align-items: center;
}

.tableHeader {
  color: rgba(250, 250, 250, 0.40);
  background: rgba(0, 0, 0, 0.20);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  height: 59px;
  flex-shrink: 0;
  padding-left: 40px;
  padding-right: 10px;
}

.tableHeader > span {
  text-transform: capitalize;
}

.tableHeader > span:last-child, li > span:last-child {
  flex: 2;
}

.cell {
  flex: 1;
  padding: 10px;
}


.row:last-child .cell {
  border-bottom: 0;
}

.tableHeader .cell {
  border-right: 0;
}

.actionButtons {
  display: flex;
  flex-direction: row;

  gap: 8px;
}

.actionButtons button {
  width: 118px;
}
