.container {
  display: flex;
  justify-content: center;
  position: relative;

}

.imageBox {
  width: 611px;
  height: 568px;
  flex-shrink: 0;
  border-radius: 20px;
  background: url(../../assets/images/happy-couple.webp) lightgray -210.655px -9.352px / 144.403% 103.776% no-repeat;
  /*background-size: cover;*/
  background-position: center;
}


/* Styles for screens between 376px and 768px wide (e.g., tablets) */
@media screen and (max-width: 768px) {
  .imageBox {
    width: 100%;
    height: 482px;
    background: url(../../assets/images/happy-couple.webp)lightgray -160.655px -9.352px / 125.327% 122.292% no-repeat;
    background-size: cover;
    background-position: center;
  }
}

/* Styles for screens 375px wide or less (e.g., small mobile devices) */
@media screen and (max-width: 375px) {
  .imageBox {
    width: 100%;
    max-height: 381px;
    background: url(../../assets/images/happy-couple.webp) lightgray -184.949px -7.956px / 180.744% 106.172% no-repeat;
    background-size: cover;
    background-position: center;
  }
}
