.container {
  display: flex;
  align-items: flex-start;
  max-width: 486px;
  height: 520px;
  flex-shrink: 0;
  border-radius: 30px;
  background: #171719;
  padding: 40px;
  flex-direction: column;
  gap: 20px;
}

.typeContainer {
  display: flex;
  gap: 20px;
  align-items: center;
}

.radioContainer {
  display: flex;
  gap: 10px;
  align-items: center;
}

.radioContainer > label {
  color: #FAFAFA;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.32px;
}

.dateTimeContainer {
  display: flex;
  gap: 30px;
  width: 100%;
}

.dateContainer, .fieldContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.dateContainer svg {
  position: absolute;
  top: 10px;
  left: 85%;
  width: 20px;
  height: 20px;
}

.dateTimeContainer input[type='date']{
  max-width: 210px;
  width: 100%;
}

.dateTimeContainer input[type='time']{
  max-width: 192px;
  width: 100%;
}

.currency{
  position: absolute;
  top: 10px;
  left: 97%;
  text-transform: uppercase;
}

.sumContainer {
  position: relative;
  width: 93.5%;
}

.sumContainer input {
  width: 100%;
}

/* Styles for screens between 376px and 768px wide (e.g., tablets) */
@media screen and (max-width: 768px) {
  .container {
    max-width: 704px;
    padding-left: 109px;
    padding-right: 109px;
  }

  .dateContainer svg {
    left: 95%;
  }

  .timeContainer > svg {
    left: 85%;
  }

  .dateTimeContainer input[type='date']{
    max-width: 210px;
    width: 100%;
  }

  .dateTimeContainer input[type='time']{
    max-width: 185px;
    width: 100%;
  }
}

@media screen and (max-width: 376px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .dateTimeContainer input[type='date']{
    max-width: 100px;
    width: 100%;
  }

  .dateTimeContainer input[type='time']{
    max-width: 100px;
    width: 100%;
  }

  .dateContainer svg {
    left: 80%;
  }

  .timeContainer > svg {
    left: 80%;
  }

  .sumContainer {
    width: 88%;
  }
}
