/* Overlay that covers the entire screen */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  z-index: 1000;

  border-radius: 30px;
  border: 1px solid rgba(250, 250, 250, 0.10);
  background: #0C0D0D99;
}

/* Container for the modal content */
.modalContainer {
  top: 170px;
  height: fit-content;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  position: relative;

  border-radius: 30px;
  border: 1px solid rgba(250, 250, 250, 0.10);
  background: #171719;
}

.modalContainer h2 {
  color: #FAFAFA;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.56px;
  text-transform: capitalize;
}

/* Close button at the top-right corner */
.modalCloseButton {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #FAFAFA;
}

/* Content inside the modal */
.modalContent {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 500px;
}

/* Styles for screens between 376px and 768px wide (e.g., tablets) */
@media screen and (max-width: 768px) {
  .modalContent > form {
    padding: 40px;
  }
}
