.container {
  display: flex;
  flex-direction: column;
  max-width: 1240px;
  gap: 44px;
  width: 100%;
}

.headerContainer {
  width: 100%;
}

.headerContainer > h2 {
  color: #FAFAFA;
  font-size: 38px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.76px;
}

.headerContainer > p {
  color: rgba(250, 250, 250, 0.40);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.32px;
  max-width: 516px;
  margin-top: 15px;
}

.topContainer {
  display: flex;
  justify-content: space-between;
  gap: 94px;
}

/* Styles for screens between 376px and 768px wide (e.g., tablets) */
@media screen and (max-width: 768px) {
  .topContainer {
    flex-direction: column;
  }

  .headerContainer > p {
    max-width: 570px;
  }
}

@media screen and (max-width: 368px) {
  .topContainer {
    gap: 40px;
  }
}
