.container {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.categories {
  color: rgba(250, 250, 250, 0.40);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.container ul {
  display: flex;
  flex-direction: column;
  /*gap: 37px;*/
  height: 287px;
  overflow-y: auto;
}

.container li {
  display: flex;
  align-items: center;
  height: 43px;
  flex-shrink: 0;
  transition: ease 0.5s;
  padding-left: 10px;
  justify-content: space-between;
}

.container li:hover {
  background-color: #00000033;
  border-radius: 3px;
}

.container svg {
  height: 16px;
  width: 16px;
}

.newCategoryContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
}

.newCategoryContainer span {
  color: #0EF387;
  letter-spacing: -0.32px;
}

.newCategoryContainer button {
  position: absolute;
  top: 28px;
  left: 72%;
  border-radius: 12px;
  height: 38px;
}
