.container {
  max-width: 550px;
  width: 100%;
  height: 222px;
  flex-shrink: 0;
  border-radius: 30px;
  background: #171719;
  padding: 40px;
  display: flex;
  position: relative;
  flex-direction: column;
}

.container > h2 {
  color: rgba(250, 250, 250, 0.50);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.chart {
  top: -50px;
  max-width: 292px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.percentage {
  color: #FAFAFA;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  top: -60px;
  position: relative;
}

.categories {
  /*flex gap-[10px] flex-col max-w-[200px] w-[100%] max-h-[126px] pr-[25px] overflow-y-scroll*/
  display: flex;
  margin-top: 37px;

}

.categories > ul {
  gap: 14px;
  display: flex;
  flex-direction: column;
  width: 191px;
  height: 126px;
  overflow-y: auto;
}

.categories ul > li {
  color: rgba(250, 250, 250, 0.50);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  justify-content: space-between;
  display: flex;
}
.categories ul > li > span {
  color: #FAFAFA;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-right: 20px;
}

.data {
  display: flex;
  flex-direction: row;
  gap: 40px;
  max-width: 630px;
  width: 100%;
}



@media screen and (max-width: 1290px) {
  .chart {
    max-width: 270px;
  }
  .data {
    max-width: 420px;
  }
}


@media screen and (max-width: 1211px) {
  .chart {
    max-width: 250px;
  }
  .data {
    max-width: 410px;
  }
}



@media screen and (max-width: 1150px) {
  .data {
    max-width: 370px;
  }
}

@media screen and (max-width: 1065px) {
  .chart {
    margin-top: 25px;
    max-width: 180px;
  }

  .data {
    max-width: 300px;
  }
}

@media screen and (max-width: 923px) {
  .chart {
    max-width: 190px;
  }

  .data {
    max-width: 285px;
  }
}


@media screen and (max-width: 950px) {
  .chart {
    margin-top: 25px;
    max-width: 160px;
  }

  .data {
    max-width: 280px;
  }
}

/*
@media screen and (min-width: 885px) {
  .chart {
    max-width: 160px;
  }

  .data {
    max-width: 250px;
  }

!*  .categories {
    max-width: 150px;
  }*!
}
*/



@media screen and (max-width: 768px) {
  .chart {
    max-width: 292px;
  }

  .data {
    max-width: 630px;
    width: 100%;
  }

  .container {
    max-width: 624px;
  }
}

@media screen and (max-width: 376px) {
  .chart {
    max-width: 250px;
  }

  .data {
    max-width: 335px;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 0;
  }

  .container {
    height: 471px;
    width: 295px;
    padding: 20px;
  }


  .categories {
    margin-top: 0;
  }
}

